/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    overflow-y: auto;
}

.container {
    display: flex;
    height: 100vh;
}


/* Menú lateral izquierdo */
.menu {
    width: 24%;
    background-color: #20354b;
    color: #fff;
    overflow-y: auto;
    padding: 20px;
    transition: transform 0.3s ease-in-out; /* Animación suave */
    transform: translateX(-100%); /* Inicialmente oculto */
    position: fixed; /* Fijo para no interferir con el contenido */
    top: 0;
    bottom: 0;
    z-index: 999; /* Asegurarse de que esté sobre el contenido */
}

.menu.active {
    transform: translateX(0); /* Visible */
}

.menu h2 {
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    cursor: default;
}


.menu ul {
    list-style:none;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    color: #ecf0f1;
    text-decoration:solid;
    font-size: 1rem;
}

.menu ul li a:hover {
    text-decoration: solid;
    color: #4a82bd;
}

.menu ul ul {
    margin-left: 20px;
}

.menu ul ul li a {
    color: #899db3;
    font-size: 0.9rem;
}

#tester {
       color: #6e9bf0;
    font-size: 1.1rem; 
}

#tester:hover {
    color: #0084ff;
}

/* Estilo del botón para alternar el menú */
.menu-toggle {
    position: fixed;
    top: 12px;
    left: 20px;
    z-index: 1000;
    background-color: #1359a3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 56px;
}

.menu-toggle:hover {
    background-color: #2d81da;
}

.submenu {
    display: none;
    margin-left: 15px;
}

.desplegable.open > .submenu {
    display: block;
}

/* Contenido desplegable (oculto por defecto) */
.submenu-info {
    display: none;
    padding: 10px;
    color: #ecf0f1;
    text-decoration:solid;
    font-size: 1rem;
}

.submenu-info h2 {
    cursor: pointer;
    display: none;
    padding: 10px;
    color: #ecf0f1;
    text-decoration:solid;
    font-size: 1rem;
}

.desplegable-info {
    background-color: #b4b4b4;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Cuando la sección está activa, se muestra el contenido */
.desplegable-info.open .submenu-info {
    display: block;
}

/* Contenido principal */
.content {
    width: 76%; /* Ancho inicial */
    background-color: #dfdfdf;
    padding: 0 20px;
    overflow-y: auto; /* Habilita el scroll interno */
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out; /* Animación suave */
    margin-left: 24%; /* Espacio para el menú */
    position: absolute; /* Permite el desplazamiento */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh; /* Asegura que ocupe toda la pantalla */
}

/* Cuando el menú está oculto */
.menu.hidden + .content {
    width: 100%; /* Ocupa todo el ancho */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.96);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que quede por encima del contenido */
}

/* Imagen ampliada */
.overlay img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}


section {
    box-shadow: 6px 5px 12px 15px rgba(71, 71, 71, 0.16);
    background-color: #f2f2f2;
    padding: 6px;
    margin: 12px 0;
    border-radius: 7px;
}

#sub-panel {
    margin: 0 12px;
    background-color: #d5d6d8;
    box-shadow: 1px 1px 2px 2px rgba(71, 71, 71, 0.16);
    border-radius: 12px;
    margin: 20px;
}

#sub-panel p {
    font-size: 0.8rem;
    padding-left: 22px;
}

.content h1,
.content h2,
.content h3 {
    color: #1f61a7;
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-left: 12px;
}

.content h1:hover,
.content h2:hover,
.content h3:hover {
    color: #2381e6;
    cursor: default;
}

.content p {
    font-size: 1.12rem;
    margin-left: 24px;
    margin-bottom: 8px;
    max-width: 96%;
    color: #171b1f;
}


.content ul li{
    list-style: none;
    padding-left: 20px;
    color:  #171b1f;
    font-size: 1rem;
    max-width: 96%;
    padding-bottom: 6px;
}


.content img.responsive-image {
    margin-left: 24px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.26);
}


.content img {
    margin-left: 24px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.26);
}

.content img:hover {
transform:scale(1.02);
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.content table th,
.content table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.content table th {
    background-color: #f2f2f2;
}

/* Scrollbar para el menú lateral */
.menu::-webkit-scrollbar {
    width: 18px; /* Ancho más pequeño para el menú */
}

.menu::-webkit-scrollbar-track {
    background: #2c3e50; /* Color de fondo igual al menú */
}

.menu::-webkit-scrollbar-thumb {
    background: #ecf0f1; /* Color claro para contrastar */
    border-radius: 15px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7; /* Cambio de color al pasar el mouse */
}

/* Scrollbar para el contenido principal */
.content::-webkit-scrollbar {
    width: 20px;
}

.content::-webkit-scrollbar-track {
    background: #f9f9f9; /* Color de fondo igual al contenido */
}

.content::-webkit-scrollbar-thumb {
    background: #34495e; /* Color oscuro para contrastar */
    border-radius: 15px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #2c3e50; /* Cambio de color al pasar el mouse */
}

/* Estilo para Firefox */
.menu,
.content {
    scrollbar-width: thin;
    scrollbar-color: #ecf0f1 #2c3e50; /* Thumb y track para el menú */
}

.content {
    scrollbar-color: #34495e #f9f9f9; /* Thumb y track para el contenido */
}

#nextBack-section {
    box-shadow: 6px 5px 12px 15px rgba(71, 71, 71, 0.16);
    background-color: #dee6f5;
    padding: 6px;
    margin: 12px 0;
    border-radius: 38px;
}

#nextBack-section:hover {
    background-color: #cbd6e9;
}

#nextBack-section a,
i {
    text-decoration: none;
    color: #3d82cc;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-left: 12px;
    display: inline;
    cursor:pointer;
}

#general-section {
    background-color: #e2e3e6;
    box-shadow: 6px 5px 12px 15px rgba(71, 71, 71, 0.16);
    display: flex;  
    align-items: center;
    justify-content: space-between;
}


#general-section img {
    height: 332px;
    background-size: cover;
    background-position: center;
    filter: grayscale(28%) brightness(0.4);
    animation: backgroundPan 20s linear infinite;
}


#info-section {
    background-color: #a8aaad;
    padding: 24px 32px;
    margin: 12px 32px;
    box-shadow: 6px 5px 12px 15px rgba(71, 71, 71, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info-section {
    background-color: #a8aaad;
    padding: 12px;
    margin: 12px 32px;
    box-shadow: 6px 5px 12px 15px rgba(71, 71, 71, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info-section .info-text {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-section ul {
    font-size: 0.5;
    padding-left: 20px;
}

#info-section img {
    width: 40%;
    display: block;
}




/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    background: rgb(151, 21, 21);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius:255px;
}

.close-btn:hover {
    background: rgb(179, 17, 17);
    transform: scale(1.1);
}

.content {
    transform: translateX(50px); /* Pequeño desplazamiento inicial */
    opacity: 0;
    animation: fadeSlide 0.16s ease-out forwards;
}

/* Restaurar el scroll cuando termina la animación */
.content.animated {
    overflow: auto; /* Reactiva el scrollbar */
}

#btn-menu-Sect {
    color: #8399d4;
    font-size: 0.78rem;
    margin-left: 12px;
}

#btn-menu-Sect:hover {
    color: #bfcef7;
}

@keyframes fadeSlide {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .menu {
        width: 100%; /* Menú ocupa todo el ancho en pantallas pequeñas */
    }

    .content,  .overlay {
        width: 100%; /* Contenido también ocupa todo el ancho */
        margin-left: 0; /* Sin margen izquierdo */
        top: 0; /* Sin margen superior */
        text-align: center;
    }

    .content img.responsive-image {
        margin-left: 24px;
        max-width: 70%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 16px;
        box-shadow: 0 12px 15px rgba(0, 0, 0, 0.26);
    }

    .overlay img.responsive-image {
        margin-left: 24px;
        max-width: 70%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 16px;
        box-shadow: 0 12px 15px rgba(0, 0, 0, 0.26);
    }

    #info-section, #general-section {
        flex-direction: column; /* Apila los elementos */
        text-align: center;
        padding: 16px;
    }

    #info-section img, #general-section img {
        width: 100%; /* Imagen toma todo el ancho */
        max-width: 300px; /* Tamaño máximo para no exagerar */
        margin-bottom: 16px;
    }

    #info-section .info-text, #general-section .info-text {
        width: 100%;
        font-size: 0.9rem; /* Reduce el tamaño de fuente */
    }

    #info-section ul {
        font-size: 0.8rem;
    }
}